<div id="wrapper">
  <div id="header">
    <h4 class="header-title">help support system</h4>
    <button type="button"></button>
  </div>
  <div id="body">
    <ul>
      <!-- <li class="history-item service">
        <div class="history-item-header">
          12:00:46 01/01/2023
        </div>
        <div class="history-item-body">
          <div class="history-item-content">
            <p class="nickname">service 1</p>
            <p class="content-body">
              <span>
                Hi, what may I help you?
              </span>
            </p>
          </div>
          <div class="history-item-avatar">
            <img
              src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png">
          </div>
        </div>
      </li>
      <li class="history-item customer">
        <div class="history-item-header">
          12:00:46 01/01/2023
        </div>
        <div class="history-item-body">
          <div class="history-item-avatar">
            <img
              src="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png">
          </div>
          <div class="history-item-content">
            <p class="nickname">you</p>
            <p class="content-body">
              Hi, I would like to ask somethink
              regarding how to create a credit card in
              your bank.
            </p>
          </div>
        </div>
      </li>
      <li class="history-item customer">
        <div class="history-item-header">
          12:00:46 01/01/2023
        </div>
        <div class="history-item-body">
          <div class="history-item-avatar">
            <img
              src="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png">
          </div>
          <div class="history-item-content">
            <p class="nickname">you</p>
            <p class="content-body">
              What items do I need to prepare?
            </p>
          </div>
        </div>
      </li>
      <li class="history-item service">
        <div class="history-item-header">
          12:00:46 01/01/2023
        </div>
        <div class="history-item-body">
          <div class="history-item-content">
            <p class="nickname">service 1</p>
            <p class="content-body">
              <span>
                Sure, there're some kinds of identify
                card you should prepare, including ID
                card, name, sex, age, property
                information form that provided by
                professional company or goverment
                department.
              </span>
            </p>
          </div>
          <div class="history-item-avatar">
            <img
              src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png">
          </div>
        </div>
      </li>
      </li>
      <li class="history-item customer">
        <div class="history-item-header">
          12:00:46 01/01/2023
        </div>
        <div class="history-item-body">
          <div class="history-item-avatar">
            <img
              src="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png">
          </div>
          <div class="history-item-content">
            <p class="nickname">you</p>
            <p class="content-body">
              What items do I need to prepare?
            </p>
          </div>
        </div>
      </li>
      <li class="history-item service">
        <div class="history-item-header">
          12:00:46 01/01/2023
        </div>
        <div class="history-item-body">
          <div class="history-item-content">
            <p class="nickname">service 1</p>
            <p class="content-body">
              <span>
                Sure, there're some kinds of identify
                card you should prepare, including ID
                card, name, sex, age, property
                information form that provided by
                professional company or goverment
                department.
              </span>
            </p>
          </div>
          <div class="history-item-avatar">
            <img
              src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png">
          </div>
        </div>
      </li> -->
    </ul>
  </div>
  <div id="footer">
    <textarea name="editor" class="editor"
      rows="1"></textarea>
    <button type="button">send</button>
  </div>
</div>